@import '../../node_modules/bootstrap';

$accentcolor: rgba(10,124,241,1);
$buttoncolor: #07d3a9;
$footercolor: #dfdfdf;
$greytext: #454545;
$lightgreytext: #bfbcbc;
$lightgreybackground: #f8f8f8;
$white: #ffffff;

//media queries
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1440px;

// HEADER
.accent-text {
    color: $accentcolor !important;
}

.bold-text {
    font-weight: bold;
}

#logoImage {
    width: 60%;
    height: auto;
}

@media screen and (max-width: $breakpoint-tablet) {
    #logoImage {
        width: 80%;
        height: auto;
    }
}

#langMenu, #langSK, .bi-search {
    color: $lightgreytext !important;
}

.button-login {
    background-color: $buttoncolor;
    color: white;
    width: 80%;
}

.search-bar {
    width: 80%;
}

// BODY
.home-content {
    background: linear-gradient(180deg, rgba(10,124,241,1) 0%, rgba(19,170,247,1) 80%);
    height: 60vh;
}

.home-content-body {
    width: 45vw;
}

.search-bar-city {
    width: 85%;
    height: 170%;
}

#detail-obce-heading h1 {
    font-size: x-large !important;
}

#detail-obce {
    background-color: $lightgreybackground;
}

#coat-of-arms {
    width: 35%;
    height: auto;
}

.detail-obce-list {
    font-size: small;
}

.detail-obce-list ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media screen and (max-width: $breakpoint-laptop) {
    h1{
        font-size: 60px !important;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    h1{
        font-size: 28px !important;
    }}

// FOOTER
#footer {
    background-color: $footercolor;
    font-size: small;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    max-height: 250vh;
    margin-top: auto;
}

footer ul, .detail-obce-list ul {
    list-style-type: none;
    padding: 0;
}

footer ul a, h5, nav a {
    color: $greytext !important;
}

footer ul a:hover {
    text-decoration: underline !important;
    color: $accentcolor !important;
}

nav a:hover {
    color: $accentcolor !important;
}
